.App {
  text-align: center;
  position: relative;
  height: 100vh; /* Ensure it takes the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: inline-block;
  text-align: left;
  max-width: 600px; /* Limit the width to avoid it stretching too far */
}

.error {
  color: red;
  margin-top: 10px;
}

progress {
  width: 100%;
}

input[type="file"] {
  display: block;
  margin: 20px 0;
}

button {
  margin-bottom: 20px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.language-select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.language-select button {
  background: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.language-select button:hover {
  background: #555;
}
